<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": ["WebApplication", "Game"],
  "name": "{{ site.title | escape }}",
  "url": "{{ site.url }}{{ site.baseurl }}",
  "description": "{{ site.description | escape }}",
  "applicationCategory": "Game",
  "genre": ["Board Game", "Multiplayer", "Strategy"],
  "operatingSystem": "Web Browser",
  "gamePlatform": "Web Browser",
  "author": {
    "@type": "Organization",
    "name": "{{ site.title | escape }}"
  }
}
</script>
